.ibanking__transactions-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1.25rem;
  align-items: center;
}

.ibanking__transactions-header-date,
.ibanking__transactions-header-balance {
  font-size: 12px;
}

.ibanking__transactions {
  border: 1px solid var(--color-light-gray);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
  position: relative;
}

.ibanking__transactions::after,
.ibanking__transactions::before {
  content: "";
  height: 1rem;
  width: 0.0625rem;
  background: var(--color-light-gray);
  position: absolute;
  left: 2rem;
}

.ibanking__transactions::after {
  top: -1rem;
}

.ibanking__transactions::before {
  bottom: -1rem;
}

@media (max-width: 768px) {
  .ibanking__transactions-header {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .ibanking__transactions {
    padding: 1.5rem 1rem;
  }
}
