.ibanking__buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.ibanking__button,
.ibanking__button--selected {
  border-radius: 2rem;
  cursor: pointer;
  height: 2rem;
  padding: 0.25rem 1rem;
  width: 5.125rem;
}

.ibanking__button {
  background: var(--color-black);
  color: var(--color-white);
}

.ibanking__button--selected {
  background: var(--color-lighter-gray);
  color: var(--color-black);
}
